<div class="bg">
  <app-header></app-header>
  <div class="page-wrapper center margin-top-100">
    <div id="heading">
      <h2 class="heading">About Us</h2>
    </div>
    <br />
    <br />
    <div id="body" class="font">
      Welcome to Heavenly Bite, a place to make your every bite worthy by trying
      out the worlds favorite recipes! To access the world’s best recipes, a
      user must first login or signup.After successful login, user must choose a
      cuisine from available options to get recipes. All available recipes of
      the respective chosen cuisine are displayed. User can filter results using
      search box or available dietary options given (Vegetarian, Gluten Free,
      etc,.). After clicking on your favorite recipie card, user can see the
      complete recipe cooking instructions, ingredients, nutritional values etc.
      When a user likes a recipe, he can add the ingredients to shopping list
      using the button provided. The price of individual ingredients and overall
      price of the recipe can be viewed by clicking on the “Shopping List” tab
      in the header. User can remove items from shopping list by clicking on the
      delete button next to each ingredient recipe list. Also, user can add
      recipes to favorites by clicking on heart icon on the right corner of each
      recipe card. Favorites can be accessed by clicking on the “Saved Recipes”
      tab in the header. User can remove items from favorites by clicking on the
      delete recipe button. Shopping List and Saved Recipes information is
      stored by default, so user can login and access the information anytime.
      Finally, similar recipe recommendations are displayed at the bottom of
      each recipe page for the users to choose from. Any questions, comments,
      queries about Heavenly Bite? Contact me at pruthvidudam43@gmail.com
    </div>
  </div>
  <div class="clear"></div>
  <app-footer></app-footer>
</div>
