.bg {
  background-image: url("./../../assets/home-page-bg.jpg") !important;
  background-size: 100%;
  background-position-y: bottom;
}

.margin-top-100 {
  margin-top: 85px;
  padding-top: 20px;
}

.font {
  font-weight: 500;
  line-height: 35px;
  font-size: 21px;
}
