<!-- Remove the container if you want to extend the Footer to full width. -->
<!--<div class="container my-5">  -->
<!-- Footer -->
<footer class="text-center text-lg-start text-white bg-grey">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!-- Grid column -->

        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3 font">
          <h6 class="text-uppercase mb-4 font-bold">LINKS</h6>
          <p>
            <a type="button" (click)="routeToSR()">Saved Recipes</a>
          </p>
          <p>
            <a type="button" (click)="routeToSL()">Shopping List</a>
          </p>
          <p>
            <a type="button" (click)="routeToAU()">About Us</a>
          </p>
          <p>
            <a type="button" (click)="routeToLogin()">Log Out</a>
          </p>
        </div>
        <!-- Grid column -->

        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->

        <!-- Grid column -->
        <hr class="w-100 clearfix d-md-none" />

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 font">
          <h6 class="text-uppercase mb-4 font-bold">Contact</h6>
          <p>Leander, TX 12345, US</p>
          <p>pruthvidudam43@gmail.com</p>
          <p>+ 01 234 567 88</p>
          <p>+ 01 234 567 89</p>
        </div>
        <!-- Grid column -->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->

    <hr class="my-3 p-3 pt-0" />
  </div>
  <!-- Grid container -->
</footer>
<!-- Footer -->
<!--</div> -->
<!-- End of .container -->
