.error {
  font-size: 12px;
  display: block;
  padding: 0 1rem;
  margin-top: 15px;
  color: #ee0700;
  line-height: 16px;
  size: 1rem;
}
.npnm {
  font-size: 12px;
  display: block;
  margin-top: 5px;
  color: #ee0700;
  padding-bottom: 1rem;
  line-height: 16px;
}
