.margin-top-100 {
  margin-top: 100px;
}

.button {
  size: 10%;
}

.bg {
  background-image: url("./../../assets/home-page-bg.jpg");
  background-size: 100%;

  background-position-y: bottom;
}

.padding-top-20 {
  padding-top: 30px;
}

.margin-top-100 {
  margin-top: 85px;
}
